<%- include('../partials/header.ejs') %>
    <section class="form_submission">
        <% var m = m || '' ; %>
        <% if(m != '') { %>
                <div class="message">
                    <h1><%= m %></h1>
                </div>
        <% } %>


                <div class="container">
                    <div class="form">
                        <form action="/register" method="post">
                            <h1><%- title %></h1>
                            <div class="inputFieldGroup">
                                <input type="text" id="name" name="name" placeholder=" " required />
                                <label for="name">Name</label>
                            </div>
                            <div class="inputFieldGroup">
                                <input type="email" id="email" name="email" placeholder=" " required />
                                <label for="email">Email</label>
                            </div>
                            <div class="inputFieldGroup">
                                <input type="text" id="mobile" name="mobile" placeholder=" " required />
                                <label for="mobile">Phone No.</label>
                            </div>
                            <div class="inputFieldGroup">
                                <input type="text" id="age" name="age" placeholder=" " required />
                                <label for="age">age</label>
                            </div>
                            <div class="inputFieldGroup">
                                <input type="text" id="password" name="password" placeholder=" " required />
                                <label for="password">Password</label>
                            </div>

                            <div class="btn">
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
    </section>
    <%- include('../partials/footer.ejs') %>