<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">

	<title>about-us</title> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</head>

<body class="clearfix h-100 m-0 p-0 w-100 float-start" >
	<div id="wrapper" class="wrapper clearfix w-100 d-inline-block"><!-- wrapper start here -->
		{{>header}}

		<div class="banner banner-bg position-relative d-flex align-items-center justify-content-center"><!-- banner start here -->
			<div class="banner-text"> 
				<h1>about</h1>
			</div>
		</div><!-- banner end here -->
		<section class="Photomania-details position-relative"><!-- Photomania-details strat here -->
			<div class="container">
				<div class="photomania-text text-center">
					<h2>Know about  Photomania !!</h2>
					<span>Lorem ipsum dolor sit amet, consectetur</span>
					<p>Sed ornare, lorem eget tincidunt varius, quam nulla laoreet augue, sed convallis quam sapien ac mi. Vestibulum ultrices, purus quis tristique posuere, sem magna imperdiet sem, nec facilisis orci dui non arcu. Suspendisse consequat nunc laoreet, ornare massa vel, aliquet enim. Sed pretium efficitur urna, quis pellentesque mi semper euismod. Maecenas suscipit ornare fermentum. Curabitur sodales rutrum diam id lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vitae pretium erat. Nulla hendrerit imperdiet ex a finibus. Morbi non vestibulum tellus.Nunc ornare velit mi, quis euismod risus fringilla id. In laoreet, turpis vel convallis condimentum, magna risus pretium lacus, id iaculis nisl ex non leo. Praesent tincidunt dapibus leo, non cursus nisi sollicitudin tempus. Vestibulum rhoncus vel turpis vel volutpat. Nunc augue massa, semper ut libero quis, pellentesque faucibus lectus. Donec ligula augue, consequat quis erat vitae, posuere rutrum enim. Sed blandit odio velit, ac pharetra ligula vehicula et. Aliquam suscipit fringilla metus non tristique.Morbi condimentum, purus eu efficitur dignissim, ante sem</p>
					<a href="#">View more</a>
				</div>
			</div>
		</section><!-- Photomania-details end here -->	
		<section class="services-section d-inline-block w-100"><!-- services-section start here -->
			<div class="container">
				<div class="services-heading text-white text-center">
					<h2>Our main services</h2>
				</div>
				<div class="services-slider overflow-hidden position-relative">
				  <div class="swiper-button-prev"></div>
				  <div class="swiper-button-next"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide position-relative">
							<img src="images/service1.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="images/service2.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="images/service6.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="images/service4.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="images/service5.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="images/service3.jpg">
							<div class="img-stories position-absolute text-center text-white w-100">
								<h5>Stories Photogray</h5>
								<p>Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section><!-- services-section end here -->
		<section class="Testimonial d-inline-block w-100"><!-- Testimonial start here -->
			<div class="container">
				<div class="Testimonial-heading text-center">
					<h2>Our Client <span>Testimonial</span></h2>
				</div>
				<div class="Testimonial-slider overflow-hidden position-relative">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide text-center">
							<div class="Testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							</div>
							<div class="testimonial-footer text-white text-uppercase">
								<p>Ravoof Kakkattumel <span>beekaran manager</span>
                </p>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="Testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							</div>
							<div class="testimonial-footer text-white text-uppercase">
								<p>Ravoof Kakkattumel <span>beekaran manager</span>
                </p>
							</div>
						</div>
						<div class="swiper-slide text-center">
							<div class="Testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							</div>
							<div class="testimonial-footer text-white text-uppercase">
								<p>Ravoof Kakkattumel <span>beekaran manager</span>
                </p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section><!--Testimonial end here -->
		{{>footer}}
	</div><!-- wrapper end here -->
</body>
</html>