<footer class="footer d-inline-block w-100 overflow-hidden">
    <div class="footer-top text-white text-center">
        <div class="container">
            <h2>Get a Quote</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
            <div class="footer-form d-block m-auto position-relative">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Name" />
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter Email" />
                        </div>
                    </div>
                </div>
                <div class="Message">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <div class="input-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-btn position-absolute">
                    <div class="input-group">
                        <button type="button" class="btn text-white p-0 border-0">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-md-4">
                    <div class="footer-contact text-white">
                        <p><a href="mailto:photomania@gmail.com">photomania@gmail.com</a></p>
                        <p><span>We are ready for Freelance</span>©2017 LensQueen. All
                            Rights Are Reserved</p>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-md-4">
                    <div class="footer-contact text-center">
                        <img src="images/logo.png" />
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-md-4">
                    <div class="footer-contact text-white text-end">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <address>
                            <p>252 Edison St. Salt Lake City, Utah
                                <span><a href="tel://+801 467 2207"> 801 467 2207</a></span>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div><!-- wrapper end here -->
</body>

</html>