<div class="banner position-relative">
  <!-- banner start here -->
  <div class="swiper-slider">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img">
          <img src="images/stone7.jpg" />
        </div>
        <div class="banner-content position-absolute text-white">
          <h2>Lorem - <span>fermentum</span><br />Photography</h2>
          <a href="#">Explore</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="images/stone2.jpg" />
        </div>
        <div class="banner-content position-absolute text-white">
          <h2>Lorem - <span>fermentum</span><br />Photography</h2>
          <a href="#">Explore</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="images/stone3.jpg" />
        </div>
        <div class="banner-content position-absolute text-white">
          <h2>Lorem - <span>fermentum</span><br />Photography</h2>
          <a href="#">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>