<section class="counter-section d-inline-block w-100">
        <!-- counter-section start here -->
        <div class="container">
          <div class="counter-wrapper">
            <div class="row">
              <div class="col-xxl-3 col-xl-3 col-md-3">
                <div class="counter-container text-center">
                  <img src="images/user.jpg" />
                  <div class="counter" data-target="554"></div>
                  <span>Happy Customers</span>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-md-3">
                <div class="counter-container text-center">
                  <img src="images/cremera.jpg" />
                  <div class="counter" data-target="5620"></div>
                  <span>Photos Taken</span>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-md-3">
                <div class="counter-container text-center">
                  <img src="images/cinema-film-.jpg" />
                  <div class="counter" data-target="85"></div>
                  <span>Video Productions</span>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-3 col-md-3">
                <div class="counter-container text-center">
                  <img src="images/sun-line.jpg" />
                  <div class="counter" data-target="2568"></div>
                  <span>Working Hours</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>