<section class="gallery-about d-inline-block w-100">
        <!-- gallery-about start here -->
        <div class="gallery-heading text-center">
          <h2>Explore our <span>Gallery</span></h2>
        </div>
        <div class="stone-gallery position-relative overflow-hidden">
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img1.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img1.png"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img2.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img2.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img3.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img3.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img4.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img4.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img5.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img5.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img6.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img6.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img7.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img7.png"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="gallery float-start w-25 position-relative overflow-hidden"
          >
            <img src="images/img8.png" />
            <div class="overlay">
              <div class="but-arrow position-absolute">
                <a href="images/img8.png" class="but-arrow"
                  ><i class="fas fa-expand-arrows-alt"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="more-btn d-block text-center w-100">
          <a href="#">Explore more</a>
        </div>
      </section>