 <section class="Photomania-section position-relative">
        <!-- Photomania-section strat here -->
        <div class="container">
          <div class="Photomania-about">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-md-12">
                <div class="video-about position-relative">
                  <img src="images/photo.png" />
                  <a
                    id="play-video"
                    class="video-play-button position-absolute"
                    href="#"
                  >
                    <img src="images/playbutton.png" />
                  </a>
                  <div id="video-overlay" class="video-overlay">
                    <!-- <a class="video-overlay-close">&times;</a> -->
                  </div>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-md-12">
                <div class="Photomania-text d-inline-block">
                  <h2>Know about<span>Photomania !!</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur</p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident
                  </p>
                  <div class="photo-tack">
                    <h3>
                      <i class="fas fa-arrow-left"></i>Take a tour to
                      <span> photomania </span>
                    </h3>
                  </div>
                  <a href="#">View more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>